.servicos {
  background-color: #f9fcff;
}
.listServicos {
  padding: 8px;
  justify-content: center;
}

.itemServicos {
  margin: 0;
  height: auto;
  margin-bottom: 16px;
  padding: 12px;
  display: flex;
  justify-content: start;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  align-items: center;
  font-size: 14px;
  img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  @include for-desktop-up {
    font-size: 16px;
    justify-content: center;
    width: calc(22% - 16px);
    margin: 0px 0px 16px 16px;
    height: 86px;
  }
}
